.tasks {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.taskPanel {
    margin-bottom: 10px;
    display: flex;
}

.taskPanelBody {
    background-color: var(--dark);
    padding: 10px;
    inline-size: 600px;
    overflow: visible;
}

.taskPanelBody > hr {
    margin: 10px 0px;
    opacity: 0.2;
}

.taskPanelHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.taskEditBar {
    background-color: var(--light);
    padding: 2px;
    border-radius: 0px 10px 10px 0px;
    transition: 0.1s;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
