.content {
    display: flex;
}

.content hr {
    margin: 10px 0px;
    opacity: 0.2;
}

.addButton {
    width: auto;
}

.taskList {
    width: 100%; /* fill up rest of content */
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.taskPanel {
    display: flex;
    border-radius: 12px;
}

.taskPanelBody {
    background-color: var(--dark);
    padding: 10px;
    inline-size: 100%;
    overflow: visible;
}

.taskPanelHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.taskEditBar {
    background-color: var(--light);
    padding: 2px;
    border-radius: 0px 10px 10px 0px;
    transition: 0.1s;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.taskManage {
    background-color: var(--dark);
    min-width: 25vw;
    padding: 15px;
}

.closeButton {
    float: right;
}
