.page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--dark);
    display: flex;
}

.header > * {
    flex-grow: 1;
}

.count,
.search {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    align-items: center;
}

.addButton {
    cursor: pointer;
    background-color: var(--accent);
    border-radius: 50%;
    border: 0;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 0.25rem;
}

.filterButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem 0.5rem 0 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.filterButton:hover {
    cursor: pointer;
    background-color: #ffffff08;
}

.filterButtonActiveBar {
    width: 100%;
    border-radius: 0.25rem 0.25rem 0 0;
}

.search {
    justify-content: right;
}

.searchBox {
    background-color: var(--medium);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.list > * {
    max-width: 800px;
}

.numberFill {
    background-color: var(--medium);
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}
