.filters {
    height: 100%;
    display: flex;
}

.filterButton {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 0.25rem;
    padding: 0 0.5rem;
}

.filterButton:hover {
    background-color: #ffffff08;
}

.filterButtonActiveBar {
    width: 100%;
    border-radius: 0.25rem 0.25rem 0 0;
}

.searchBox {
    background-color: var(--medium);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.taskCardList > * {
    max-width: 800px;
}

.numberFill {
    background-color: var(--medium);
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}
