.sidebar {
    background-color: var(--dark);
    width: fit-content;
    height: 100vh;

    position: sticky;
    left: 0px;
    top: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar > * {
    padding: 10px;
}

.sidebar hr {
    margin: 5px 0px 5px 0px;
    background-color: var(--medium);
}

.sidebarPanel {
    padding: 5px;
    border-radius: 10px;

    display: flex;
    align-items: center;
}
.sidebarPanelText {
    margin-left: 15px;
    margin-right: 5px;
}

.expandButtonWrapper {
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}
