.window {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--dark);
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 0.5rem;
}

.title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}

/* -------------------- term window -------------------- */

.window.term {
    width: 40%;
}

/* -------------------- course window -------------------- */

.window.course {
    width: 60%;
}

/* -------------------- task window -------------------- */

.window.task {
    flex-grow: 1;
}

.list.task > * {
    max-width: 800px;
}

.header.task {
    display: grid;
    grid-template-columns: 1fr minmax(20%, 200px) 1fr;
}

.taskShowing {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 0.25rem;
}

.taskShowing select {
    background-color: var(--medium);
    color: var(--white);
    border: 0;
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-family: 'Inter';
}

/* -------------------- calendar window -------------------- */

.window.calendar {
    flex-grow: 1;
}

/* -------------------- settings window -------------------- */

.window.settings {
    flex-grow: 1;
}

.list.settings {
    align-items: flex-start;
}

.settings hr {
    width: 100%;
    opacity: 50%;
}

.userProfile {
    display: flex;
    gap: 1rem;
}

.userProfileLabel {
    position: relative;
    height: fit-content;
    display: flex;
    gap: 0.5rem;
}

.userName {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.userImage {
    border-radius: 9999px;
}

.infoTooltip {
    background-color: var(--dark);
    text-align: center;
    position: absolute;
    top: 1.5rem;
    width: 200%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    z-index: 1;
}

.userImage {
    border-radius: 9999px;
}
