.window {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--dark);
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 0.5rem;
}

.title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}

.addButton {
    cursor: pointer;
    background-color: var(--accent);
    border-radius: 50%;
    border: 0;
}

/* -------------------- term window -------------------- */

.window.term {
    width: 40%;
}

/* -------------------- course window -------------------- */

.window.course {
    width: 60%;
}

/* -------------------- task window -------------------- */

.window.task {
    flex-grow: 1;
}

.list.task > * {
    max-width: 800px;
}

.filters {
    height: 100%;
    display: flex;
}

.search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.searchBar {
    background-color: var(--medium);
    color: var(--white);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

/* -------------------- calendar window -------------------- */

.window.calendar {
    flex-grow: 1;
}
