.page {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 2fr 1px 3fr;
    grid-template-rows: auto 1fr;
}

.header {
    background-color: var(--dark);
    display: flex;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
}

.addButton {
    cursor: pointer;
    background-color: var(--accent);
    border-radius: 50%;
    border: 0;
}

.vr {
    background-color: var(--dark);
    margin: 0.5rem 0;
}

.list {
    padding: 1rem;
}
