.sidebar {
    background-color: var(--dark);
    position: relative;
    width: fit-content;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar > * {
    padding: 10px;
}

.sidebarPanel {
    margin-bottom: 10px;

    display: flex;
    align-items: center;
}

/* added because <Image /> was adding extra height pixels */
.sidebarPanelImage {
    display: flex;
}

.sidebarPanelText {
    margin-left: 10px;
}

.sidebarBottom {
    display: flex;
    flex-direction: row-reverse;
}
