/* fonts */
@font-face {
    /* body font */
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf');
}

@font-face {
    /* logo font */
    font-family: 'Quicksand';
    src: url('/fonts/Quicksand.ttf');
}

:root {
    /* color variables */
    --dark: #1c1e1e;
    --medium: #2a302f;
    --light: #afc7c2;
    --white: #efffff;
    --accent: #27c69b;

    /* transparent color variables */
    --light30: #afc7c230;
    --accent30: #27c69b30;
}

body {
    background-color: var(--medium);
    color: var(--white);
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
}

h1,
h2,
h3,
h4,
p,
input {
    margin: 0;
    font-family: 'Inter';
}

/* global text styles */
h1 {
    font-size: 20px;
    font-weight: 500;
}
h2 {
    font-size: 20px;
    font-weight: 400;
}
h3 {
    font-size: 16px;
    font-weight: 400;
}
h4 {
    font-size: 16px;
    font-weight: 300;
    color: var(--light);
}
p {
    font-size: 14px;
    font-weight: 300;
    color: var(--light);
}

a {
    text-decoration: none;
}

/* horizontal rule fills container and defaults to the light color */
hr {
    background-color: var(--light);
    margin: 0;
    height: 1px;
    border: 0;
}

/* remove margin from default inputs */
input {
    margin: 0;
}
