/* fonts */
@font-face {
    /* regular-use body font */
    font-family: 'Body';
    src: url('/fonts/Inter.ttf');
    font-weight: 300;
}

@font-face {
    /* bold body font */
    font-family: 'Bold';
    src: url('/fonts/Inter.ttf');
    font-weight: 500;
}

@font-face {
    /* font for use with logo */
    font-family: 'Logo';
    src: url('/fonts/Quicksand.ttf');
    font-weight: 500;
}

:root {
    /* color variables */
    --dark: #1c1e1e;
    --medium: #2a302f;
    --light: #afc7c2;
    --white: #efffff;
    --accent: #27c69b;
}

body {
    background-color: var(--medium);
    color: var(--white);
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
}

/* global text styles */
h1 {
    margin: 0;
    font-size: 32px;
    font-family: 'Bold';
}
h2 {
    margin: 0;
    font-size: 24px;
    font-family: 'Bold';
}
h3 {
    margin: 0;
    font-size: 20px;
    font-family: 'Body';
}
h4 {
    margin: 0;
    font-size: 16px;
    font-family: 'Body';
}
p {
    margin: 0;
    font-size: 14px;
    font-family: 'Body';
    color: var(--light);
}

a {
    text-decoration: none;
}

/* horizontal rule fills container and defaults to the light color */
hr {
    background-color: var(--light);
    margin: 0;
    height: 2px;
    border: 0;
}

/* remove margin from default inputs */
input {
    margin: 0;
}
