/* general-use page styles for all pages to share */

.page {
    flex-grow: 1;
    /* display mode is decided by the page */
}

.header {
    background-color: var(--dark);
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 0.5rem;
}

.headerSection {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.cardList {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}

.addButton {
    cursor: pointer;
    background-color: var(--accent);
    border-radius: 50%;
    border: 0;
}
