.taskModifyForm {
    background-color: var(--dark);
    height: calc(100vh - 30px); /* factor in padding as well */
    width: 25vw;
    padding: 15px;

    position: sticky;
    top: 0px;
    right: 0px;
}

/* give all children of form space between, not button as it uncenters it */
.taskModifyForm > form > *:not(button) {
    display: flex; /* needed because input elements stretched outside of form area */
    margin: 5px 0px;
}
.taskModifyForm > form textarea {
    resize: vertical;
}

.closeButtonWrapper {
    padding: 3px;
    border-radius: 10px;
    float: right;
    display: flex;
}

.timeCheckboxDiv {
    display: flex;
    align-items: center;
}
.timeCheckboxDiv > *:not(input) {
    margin: 0px 5px;
    min-width: fit-content;
}
