.sidebar {
    background-color: var(--dark);
    box-shadow: 0 0 1rem black;
    z-index: 1; /* for box shadow to appear over content */

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
    gap: 0.5rem;
}

.logoText {
    color: var(--accent);
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 38px;
}

.sidebarBody {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.button {
    background-color: transparent;
    color: var(--white);
    border: 0;
    border-radius: 0.25rem;

    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
}

.button:hover {
    cursor: pointer;
    background-color: #ffffff20;
}

.fill {
    flex-grow: 1;
}

.userImage {
    border-radius: 9999px;
}
