.sidebar {
    background-color: var(--dark);
    box-shadow: 0 0 1rem black;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
    gap: 0.5rem;
}

.logoText {
    color: var(--accent);
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 38px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.pageLink {
    width: 100%;
}

.pageLinkButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.25rem;
    gap: 0.5rem;
}

.hamburger {
    margin-top: auto;
    align-self: flex-end;
}

.button {
    background-color: transparent;
    color: var(--white);

    border: 0;
    border-radius: 0.25rem;
    display: flex;
    padding: 0.5rem;
}

.button:hover {
    cursor: pointer;
    background-color: #ffffff20;
}
