.content {
    flex-grow: 1;
    display: contents;
}

.termSection {
    width: 30%;
}
.courseSection {
    width: 70%;
}

.termSection,
.courseSection {
    padding: 30px;
}

.termSection > *,
.courseSection > * {
    margin-top: 10px;
}

.verticalLine {
    background-color: var(--light);
    opacity: 50%;
    width: 1px;
    margin: 30px 0px;
}
