.content {
    flex-grow: 1;
    display: flex;
}

.section {
    flex-grow: 1;
    padding: 30px;
    
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* courses.js */
.terms { 
    width: 35%;
}
.courses {
    width: 65%;
}
