.content {
    flex-grow: 1;
    display: flex;
}

.section {
    padding: 30px;
}
.section > * {
    margin-top: 10px;
}

.verticalLine {
    background-color: var(--light);
    opacity: 50%;
    width: 1px;
    margin: 30px 0px;
}

/* courses.js */
.terms { 
    width: 35%;
}
.courses {
    width: 65%;
}
