.page {
    display: flex;
}

.taskList {
    flex-grow: 1;
    padding: 30px;
}
.taskList hr, .taskModifyPanel hr {
    background-color: var(--medium);
    margin: 10px 0px;
}

.timeDivider {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.timeDivider hr {
    background-color: var(--light);
    height: 2px;
    margin: 0px 40px 0px 15px;
    flex-grow: 1;
}

.taskPanel {
    display: flex;
    border-radius: 12px;
}
.taskPanelBody {
    background-color: var(--dark);
    padding: 10px;
    inline-size: 100%;
    overflow: visible;
}
.taskPanelHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.taskEditBar {
    background-color: var(--light);
    padding: 2px;
    border-radius: 0px 10px 10px 0px;
    transition: 0.1s;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.taskModifyPanel {
    background-color: var(--dark);
    height: calc(100vh - 30px); /* factor in padding as well*/
    width: 25vw;
    padding: 15px;

    position: sticky;
    top: 0px;
}

.closeButtonWrapper {
    padding: 3px;
    border-radius: 10px;
    float: right;
    display: flex;
}
