/* used for elements not initially interactable, such as next/image */
.interactable:hover {
    cursor: pointer;
}

/* apply simple box shadow to element */
.boxShadowDark {
    box-shadow: 0px 0px 10px var(--dark);
}

/* used for setting text color */
.accentColor {
    color: var(--accent);
}
.whiteColor {
    color: var(--white);
}
