/* date time picker */
.dateTimePicker {
    display: flex;
}

.dateTimePicker input {
    flex-grow: 1;
}

/* weekday selector */
.weekdaySelector {
    background-color: var(--dark);
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}
